@import "variables.scss";
* {
    margin: 0;
    padding: 0;
}

//********** HEADER **********//
header{
    background-image: linear-gradient(to bottom, rgb(195, 233, 211),white);
    text-align: center; 
    height: 180px;
    .logo{
        height: 130px ;
        img{
            height: 100%;
            width: auto;
        }
    }
    nav {
        height: 80px;
        text-align: center;
        font-family: 'Lora', serif;
    }
    .lista {
        list-style: none;
        li {
            display: inline-block;
            width: 20%;
            height: 50px;
            a {
                color:black;
                text-decoration: none;
                display: block;
                padding-top: 10px;
                height: 40px;
            }
            a:hover{
                background-color: rgb(233, 57, 163);
            }
        }
    }
}
.chat{
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    img{
        width: 100%;
        height: auto;
    }
} 

//********** FOOTER **********//

footer{
    text-align: center;
    background-color:pink;
    width: 100%;  
}

.redes li{
    list-style: none;
    display: inline-block;
    padding-right:5px;
    margin-right:10px;
}

//********** HOME **********//

@mixin homeMixin ($size, $font, $padding, $bgimage) {
    width: $size;
    font-family: $font;
    padding-top: $padding;
    background-image: $bgimage; 
}

%homeMixin {
    @include homeMixin($size, $font, $padding, $bgimage);
}

.homeMixin {
    @extend %homeMixin;
}

.intro{   
    box-shadow: 0 0 10px black;
    color: black;
    border-radius: 20px;
}

//********** MEDIASQUERIES HOME **********//
@media only screen and (max-width:480px){
    .home{
            @include homeMixin($size, $font, $padding, $bgimage);
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 1500px;
    }

    .intro{
        justify-content: center;
        display:flex;
        flex-direction: column;
        width: 450px;
        height: 200px;
        text-align: center;
        margin-left:15px;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    iframe{
        width: 100%;
        height: 90%;
        align-items: center;
    }

    .horariosPadre{
        border-radius:20px;
        color:black;
        box-shadow: 0 0 10px black;
        align-items: center;
        display: flex;
        flex-direction: column;
        width:300px;
        height: 200px;
        margin-left:90px;
        padding-right:20px;
        padding-top:10px;
    }

    .horarios{
        list-style: none;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        & img {
        width: 70%;
        height: 150px;
    }
}
}
@media only screen and (min-width:480px){
    .home{
        @include homeMixin($size, $font, $padding, $bgimage);
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1500px;
}

.intro{
    justify-content: center;
    display:flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    text-align: center;
    margin-left:65px;
    transition: heigth 25, width 15;
}
 .intro:hover{
     transition-duration: 1s;
     background-color: black;
     color:white;
     height: 250px;
     width: 500px;
 }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 600px;
    }
    iframe{
        width: 100%;
        height: 90%;
        align-items: center;
    }

    .horariosPadre{
        align-items: center;
        display: flex;
        flex-direction: column;
        width:300px;
        height: 200px;
        margin-left:150px;
        padding-right:30px;
        padding-top:10px;
        transition: heigth 25, width 15;
    }
     .horariosPadre:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 350px;
    }
    .horarios{
        list-style: none;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
    
    & img{
        width: 60%;
        height: 200px;
        padding-bottom: 10px;
        
    }
    }
}
@media only screen and (min-width:600px){
    .home{
        @include homeMixin($size, $font, $padding, $bgimage);
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 2000px;
    }

    .intro{
        justify-content: center;
        display:flex;
        flex-direction: column;
        width: 450px;
        height: 200px;
        text-align: center;
        margin-left:150px;
        transition: heigth 25, width 15;
    
    }
     .intro:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 500px;
     }
    


    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 600px;
    }
    iframe{
        width: 100%;
        height: 90%;
        align-items: center;
    }

    .horariosPadre{
        align-items: center;
        display: flex;
        flex-direction: column;
        width:300px;
        height: 200px;
        margin-left:250px;
        padding-right:30px;
        padding-top:10px;
        transition: heigth 25, width 15;
    }
     .horariosPadre:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 350px;
    }
    .horarios{
        list-style: none;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
    & img{
        width: 60%;
        height: 200px;
        padding-bottom: 10px;
    }  
    }
}
@media only screen and (min-width:768px){
    .home{
        @include homeMixin($size, $font, $padding, $bgimage);
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 3000px;
    }

    .intro{
        justify-content: center;
        display:flex;
        flex-direction: column;
        width: 450px;
        height: 200px;
        text-align: center;
        margin-left:300px;
        transition: heigth 25, width 15;
    }
     .intro:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 500px;
     }
    

    .video{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    iframe{
        width: 80%;
        height: 100%;
    }

    .horariosPadre{
        align-items: center;
        display: flex;
        flex-direction: column;
        width:300px;
        height: 200px;
        margin-left:360px;
        padding-right:30px;
        padding-top:10px;
        transition: heigth 25, width 15;
    }
     .horariosPadre:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 350px;
    }
    .horarios{
        list-style: none;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        height: 600px;
    & img{
        margin-top:10px ;
        width: 50%;
        height: 300px;
    }
}
}
@media only screen and (min-width:992px){
    .home{
        @include homeMixin($size, $font, $padding, $bgimage);
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 3000px;
    }

    .intro{
        justify-content: center;
        display:flex;
        flex-direction: column;
        width: 450px;
        height: 200px;
        text-align: center;
        margin-left:300px;
        transition: heigth 25, width 15;
    
    }
     .intro:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 500px;
     }

    .video{
        display: flex;
        flex-direction: column;
        width: 992px;
        height: 1000px;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    iframe{
        width: 80%;
        height: 100%;
    }

    .horariosPadre{
        align-items: center;
        display: flex;
        flex-direction: column;
        width:300px;
        height: 200px;
        margin-left:360px;
        padding-right:30px;
        padding-top:10px;
        transition: heigth 25, width 15;
    }
     .horariosPadre:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 250px;
         width: 350px;
    }
    .horarios{
        list-style: none;
        text-align: center;
    }

    .ubicacion{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        height: 600px;
    & img{
        margin-top:10px ;
        width: 50%;
        height: 300px;
    }
}
}
@media only screen and (min-width:1024px){
    .home{
        @include homeMixin($size, $font, $padding, $bgimage);
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 25% 25%;
        grid-template-areas: "intro video"
                             "horarios horarios"
                             "ubicacion ubicacion";
        column-gap: 20px;
        row-gap: 20px;
        width: 100%;
        height: 3000px;
        align-content: center;
       
    }

    .intro{
        grid-area:intro;
        margin-right:100px;
        width: 50%;
        height: 300px;
        text-align: center;
        margin-top:400px;
    }

     .intro:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 350px;
         width: 500px;
     }


    .video{
        grid-area: video;
        width: 95%;
        height: 480px;
        margin-top: 30%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }

    .horariosPadre{
        grid-area: horarios;
        align-items: center;
        display: flex;
        flex-direction: column;
        width:500px;
        height: 300px;
        margin-left:700px;
        padding-right:30px;
        transition: heigth 25, width 15;
        font-size: 25px;
    }
    .horariosPadre:hover{
         transition-duration: 1s;
         background-color: black;
         color:white;
         height: 400px;
         width: 600px;
         font-size: 35px;
    }
    .ubicacion{
        grid-area: ubicacion;
        width: 100%;
        height: 600px;
    & img{
        width: 50%;
        height: 300px;
    }
}
}

//********** CURSOS **********//

.mainCursos{
    width: 100%;
    background-color: rgb(229, 138, 203);
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, white, pink);
}

//********** MEDIAQUERIES CURSOS **********//

@media only screen and (max-width:480px){
    .mainCursos{
            height: 3500px;
    }
    .card{
        margin-top:5%;
        margin-left:20%;
    }
}
@media only screen and (min-width:480px){
    .mainCursos{
        height: 3500px;
    }
    .card{
        margin-top:5%;
        margin-left:25%;
    }
}
@media only screen and (min-width:768px){
    .mainCursos{
        height: 1800px;
    }
    .card{
        margin-top:20%;
    }
}
@media only screen and (min-width:1200px){
    .mainCursos{
        height: 1800px;
    }
    .card{
        margin-top:50%;
        margin-left:50px;
    }
}

//********** INGRESAR *********//
.log{
    background-image: linear-gradient(to bottom, white, pink); 
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height: 1000px;
}

//********** MEDIAQUERIES INGRESAR **********//
@media only screen and (max-width:480px){
    #form{
        margin-top:  50px;
        padding-top: 50px;
    }
}
@media only screen and (min-width:480px){
    #form{
        margin-top:  50px;
        padding-top: 100px;
    }
}
@media only screen and (min-width:768px){
    #form{
        margin-top:  50px;
        padding-top: 100px;
    }
    #row{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (min-width:992px){
    #form{
        margin-top:  80px;
        padding-top: 100px;
    }
    #row{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (min-width:1024px){
    #form{
        margin-top:  100px;
        padding-top: 100px;
    }
    #row{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

//********** TIENDA **********//
.mainTienda{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, white, pink);
}
.titulo {
    text-align: center;
    margin-top: 10%;
}

//********** MEDIAQUERIES TIENDA **********//
@media only screen and (max-width:480px){
    .mainTienda{
        height: 5300px;
    }
    #tarjetas{
        height:500px;
        width:100%;
    }
    .card{
        width:200px;
        margin-top:10%;
        margin-left: 105px;
    }
}
@media only screen and (min-width:480px){
    .mainTienda{
        height: 5000;
    }
    .card{
        width:200px;
        margin-top:10%;
        margin-left: 150px;
    }
    #tarjetas{
        height:500px;
        width:350px;
    }
}
@media only screen and (min-width:768px){
    .mainTienda{
        height: 4000;
    }
    .card{
        width:300px;
        margin-top:10%;
        margin-left:0;
        margin-bottom:10px;
    }
    #tarjetas{
        width:350px;
    }
}
@media only screen and (min-width:1200px){
    .mainTienda{
        height: 3500;
    }
    .card{
        width:250px;
        margin-top:10%;
        margin-left:30%;
        margin-bottom:10px;
    }
    #tarjetas{
        width:350px;
    }
}

//********** RECETAS **********//

.mainRecetas{
    width: 100%;
    background-color: rgb(229, 138, 203);
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, white, pink);
}
#carouselExampleCaptions.carousel.slide{
    margin-top:10%;
    margin-left:5%;
    margin-right: 5%;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    & img{
        border-radius: 20px;
        height: 100%;   
    }
}
.recetas{
    & h1{
    text-align: center;
    margin-top: 20%;
    margin-bottom:10%; 
    }
    & h2{
        margin-bottom:10%;
        margin-top: 10%;
    }
}
.pasos{
    width: 100%;
    margin-top: 10%;
    & ol {
    list-style: none;
    padding-top:20px;
    }
}
.advertencia{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: white;
    height: 150px;
}

//********** MEDIAQUERIES RECETAS **********//

@media only screen and (max-width:480px){
    .mainRecetas{
        height: 2900px;
    }
    #carouselExampleCaptions.carousel.slide{
        height: 269px;
    }
    .advertencia{
    width: 400px;
    margin-left: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    }
}
@media only screen and (min-width:480px){
    .mainRecetas{
        height: 2900px;
    }
    #carouselExampleCaptions.carousel.slide{
        height: 430px;
    }
    .advertencia{
    width: 500px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    }
}
@media only screen and (min-width:768px){
    .mainRecetas{
        height: 3300px;
    }
    #carouselExampleCaptions.carousel.slide{
        height: 665px;
    }
.advertencia{
    width: 600px;
    margin-left: 250px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
}
@media only screen and (min-width:1200px){
    .mainRecetas{
        height: 4300px;
    }
    #carouselExampleCaptions.carousel.slide{
        height: 665px;
    }
    .advertencia{
    width: 600px;
    margin-left: 550px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    }
}