@import "variables.scss";
* {
    margin: 0;
    padding: 0;
}

//********** HEADER **********//
header{
    position: relative;
    z-index: 10000;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 480px;
    #logotipo{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        width:100%;
        height:100%;
        padding-top:3rem;
        background-color: $bgcolor;
        .parrafo1{
            font-family: $font2;
            color: $colorg;
            letter-spacing: .01em;
            font-size:15px;
        }
        .parrafo2{
            font-family: $font2;
            color: $colorg;
            padding-top:10px;
        }
        h1{
            color:white;
            font-family: $font6;
            font-size:70px;
        }
    }
    nav{
        height: 15%;
        padding-top:10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: $bgcolor;
        z-index: 10;
        .lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        width:40%;
            li {
                width: 100%;
                margin-top: 10px;
            a {
                color:white;
                text-decoration: none;
                font-family: $font7;
                font-size: 15px;
            }
            a:hover{
                color:rgba(65, 18, 0, 0.815);
            }
            }
        }
        .container-fluid{
            display:flex;
            flex-direction: row;
            justify-content:center;
            a{
                font-size: 30px;
                text-align: center;
                color:white;
                font-family: $font3;
                &:hover{
                    color:rgba(65, 18, 0, 0.815);
                }
            }
        }
        .lista2{
        list-style: none;
        display: flex;
        flex-direction: row;
        width:40%;
        padding-right:30px;
            li {
                width: 100%;
                margin-top: 10px;
            a {
                color:white;
                text-decoration: none;
                font-family: $font7;
                font-size: 15px;
            }
            a:hover{
                color:rgba(65, 18, 0, 0.815);
            }
            }
        }
    }
}
.headerHome{
    background-image: url(/img/bgcoffee.jpg);
}
.headerIngresar{
    background-image: url(../img/bgingresar.jpg);
}
.headerCursos{
    background-image: url(../img/bgcafe.jpg);
}
.headerRecetas{
    background-image: url(../img/bgcafe1.jpg);
}
@media only screen and (max-width:576px){
header{
    nav{
        .lista{
            flex-direction:column;
        }
        .lista2{
            flex-direction: column;
        }
    }
}
}
@media only screen and (min-width:576px){
    header{
        nav{
            .lista{
                flex-direction:column;
            }
            .lista2{
                flex-direction: column;
            }
        }
    }
}
@media only screen and (min-width:768px){
    header{
        nav{
            .lista{
                flex-direction:column;
            }
            .lista2{
                flex-direction: column;
            }
        }
    }
}
@media only screen and (min-width:992px){
    header{
        nav{
            .lista{
                flex-direction:row;
            }
            .lista2{
                flex-direction: row;
            }
        }
    }
}


//********** FOOTER **********//

footer{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.938);
    width: 100%;
    height:270px;
    p{
        color: $colorg;
        font-family:$font2;
        padding-top:1%;
    }
    .redes li{
        list-style: none;
        display: inline-block;
        padding-right: 2rem;
        img:hover{
            box-shadow: 0 0 20px rgba(65, 18, 0, 0.815);
            border-radius: 40px;
        }
    }
}

//********** HOME **********//
.home{
    background-color: white;
    width:100%;
    .pt-7{
        padding-top:5%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        div{ 
            text-align: center;
            hr{
                color: rgba(65, 18, 0, 0.815);;
                height: 3px;
                width:10%;
                margin-left: 45%;
            }
            .fs-lg{
                font-family: $font4;
                color:black;
                font-size: 40px;
            }
            .mb-2{
                font-family: $font4;
            }
            .mb-0{
                font-family: $font1;
                font-size: 20px;
            }
        }
    }
    #galeria{
        margin-top:5%;
        padding-bottom:5%;
        width:100%;
        z-index: 1;
        background-color: rgba(65, 18, 0, 0.815);
        .col-12{
            hr{
                color: black;
                height:3px;
                width:10%;
                margin-left:45%;
            }
            .mb-2{
                font-family:$font2;
                color:black;
                font-size:35px;
                margin-top:5%;
            }
            .mb-6{
                font-family: $font1;
                color:black;
                font-size:20px;
            }
        }
        #imagenes{
            align-items:center;
            div{
                display: flex;
                justify-content:center;
            }
            #miniaturas{
                padding-left:5%;
                padding-top:3%;
                align-items:center;
                div{
                    display: flex;
                    justify-content: center;
                }
            }
            .img-fluid{
                box-shadow: 0 0 20px black;
            }
            #img3{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #img5{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
.horarios{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.363);
    hr{
        color:rgba(65, 18, 0, 0.815);
        height:3px;
        width:10%;
        margin-left:45%;
        margin-top:5%;
    }
    #background-video {
        margin-top:5%;
        object-fit: cover;
        box-shadow: 0 0 20px black;
    }
    h4{
        margin-top: 5%;
        font-family: $font2;
        font-size:30px;
        margin-bottom:8%;
        z-index: 1;
        color: black;
    }
    p{
        font-family: $font9;
        font-size:20px;
        z-index: 1;
    }
    .number:hover{
        color:rgba(65, 18, 0, 0.815);
        font-size: 22px;
    }
    iframe{
        
        margin-bottom:20px;
        box-shadow: 0 0 20px black;
    }
}
}

//********** MEDIAQUERIES HOME **********//
@media only screen and (max-width:576px){
    #galeria{
        div.row-justify-content-center{
            height:250px;
        }
        #imagenes{
            height:80%;
        }
    }    
        #background-video{
            width: 90vw;
            height: 40vh;
        }
        iframe{
            width:90vw;
            height:50vh;
        }
    }
@media only screen and (min-width:576px){
#galeria{
    
    #imagenes{
        height:88%;
    }

}
    #background-video{
        width:95vw;
        height:70vh;
    }
    iframe{
        
        width:90vw;
        height:40vh;
    }
}

@media only screen and (min-width:768px){
    #inicio{
        border:3px solid white;
    }
    #background-video{
        width:95vw;
        height:70vh;
    }
    iframe{ 
        width:90vw;
        height:40vh;
    }
}

@media only screen and (min-width:992px){
    #img1 a img{
        height:630px;
        margin-left:5%;
    }
    #background-video{
        width:95vw;
        height:70vh;
        margin-left:2%;
    }
}

//********** CURSOS **********//
.mainCursos{
    width: 100%;
    background-color:white;
    #introCursos{
        text-align: center;
        .container-fluid{
            background-color: white;
        }
        .hr-sm{
                color: black;
                height: 3px;
                width:40%;
                margin-left:30%;
            }
        .fs-lg{
            font-family: $font6;
        }
        .mb-2{
            font-family: $font4;
            font-size: 30px;
            padding-bottom:5%;
        }
        .mb-0{
            font-family: $font2;
            padding-bottom:5%;
        }
        div .media-decoration{
            box-shadow: 0 0 20px black;
        }
        }
    #cursosComprar{
        background-color:rgba(65, 18, 0, 0.815);;
        padding-top:10px;
        padding-bottom:10px;
        margin-right: 0;
        margin-left: 0;
        .row{
            width:100%;
            height:100%;
            align-content: space-around;
    .card{
        box-shadow: 0 0 20px black;
        &:hover{
            box-shadow: 0 0 20px rgba(65, 18, 0, 0.815);;
        }
        height:550px;
        img{
            height:350px;
        }
        a:hover{
            color:rgba(65, 18, 0, 0.815);;
        }
        }
    .col-lg-4{
        display: flex;
        justify-content:center;
        padding-top:2%;
        padding-bottom:2%;
    }
}
    }
}

//********** MEDIAQUERIES CURSOS **********//
@media only screen and (max-width:576px){
    #tarjetas{
        height:3500px;
    }
.fs-lg{
    font-size:45px;
}
.col-lg-4{
    padding-left:25%;
}
}
@media only screen and (min-width:576px){
    #tarjetas{
        height:3500px;
    }
}
@media only screen and (min-width:768px){
    #tarjetas{
        height:1800px;
    }
.fs-lg{
    font-size:40px;
}
}
@media only screen and (min-width:1200px){
    #cursosComprar{
        height:1500px;
    }
}
//********** INGRESAR *********//
.log{
    background-image: url(../img/fondobg.jpg);
    background-color: rgba(8, 8, 8, 0.432);
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height: 800px;
    #form{
        padding-top:30px;
    }
    .row{
        color:white;
        font-family: $font2;
        font-size:19px;
        margin-top:5%;
        display: flex;
        align-content: space-between;
    }
}

//********** MEDIAQUERIES INGRESAR **********//
@media only screen and (max-width:576px){
    .log{
        .row{
            text-align: center;
            justify-content:center;
        }
    }
}
@media only screen and (min-width:576px){
    .log{
        .row{
            text-align: center;
            justify-content:center;
        }
    }
}
@media only screen and (min-width:768px){
    .log{
        height:900px;
    }
}
@media only screen and (min-width:992px){
    .log{
        height: 920px;
    .row{
        text-align: center;
        justify-content:space-evenly;
    }
}
}
@media only screen and (min-width:1200px){
    .log{
        height:1000px;
    }
}

//********** TIENDA **********//
.mainTienda{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, white, pink);
}
.titulo {
    text-align: center;
    margin-top: 10%;
}

//********** MEDIAQUERIES TIENDA **********//
@media only screen and (max-width:480px){
    .mainTienda{
        height: 5300px;
    #tarjetas{
        height:500px;
        width:100%;
    }
    .card{
        width:200px;
        margin-top:10%;
        margin-left: 105px;
    }
}
}
@media only screen and (min-width:480px){
    .mainTienda{
        height: 5000;
    .card{
        width:200px;
        margin-top:10%;
        margin-left: 150px;
    }
    #tarjetas{
        height:500px;
        width:350px;
    }
}
}
@media only screen and (min-width:768px){
    .mainTienda{
        height: 4000;
    .card{
        width:300px;
        margin-top:10%;
        margin-left:0;
        margin-bottom:10px;
    }
    #tarjetas{
        width:350px;
    }
}
}
@media only screen and (min-width:1200px){
    .mainTienda{
        height: 3500;
    .card{
        width:250px;
        margin-top:10%;
        margin-left:30%;
        margin-bottom:10px;
    }
}
}

//********** RECETAS **********//

.mainRecetas{
    width: 100%;
    background-color: rgb(229, 138, 203);
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, white, pink);
}
.recetas{
    & h1{
    text-align: center;
    margin-top: 20%;
    margin-bottom:10%; 
    }
    & h2{
        margin-bottom:10%;
        margin-top: 10%;
    }
}
.pasos{
    width: 100%;
    margin-top: 10%;
    & ol {
    list-style: none;
    padding-top:20px;
    }
}
.advertencia{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: white;
    height: 150px;
}

//********** MEDIAQUERIES RECETAS **********//

@media only screen and (max-width:576px){
    .mainRecetas{
        height: 2900px;
    }
    .advertencia{
    width: 400px;
    margin-left: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    }
}
@media only screen and (min-width:576px){
    .mainRecetas{
        height: 2900px;
    }
    .advertencia{
    width: 500px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    }
}
@media only screen and (min-width:768px){
    .mainRecetas{
        height: 3300px;
    }
.advertencia{
    width: 600px;
    margin-left: 250px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
}
@media only screen and (min-width:1200px){
    .mainRecetas{
        height: 4300px;
    }
    .advertencia{
    width: 600px;
    margin-left: 550px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    }
}